* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#d18ffd, #d18ffd, #ab37f8, rgb(170, 22, 255));
    height: 110vh;
}

header {
    background-color: #55037d;
    box-shadow: 0px 3px 10px #464646;
    height: auto;
}
  
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    font-size: 1rem;
    color: #d08ffe;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.20rem;
    color: #d08ffe;
    font-weight: 400;
}

.nav-link:hover {
    background-color: rgb(52, 115, 252);
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto 70%;
}

.principal div {
    margin: 0;
}

.text-principal {
    width: 45%;
    margin-left: 20px;
    padding: 0;
}

.text-principal, .img-principal {
    padding: 0;
}

.text-principal p {
    font-size: 1.5rem;
    margin: auto;
    margin-left: 50px;
    width: 100%;
    }

.img-principal img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 60px #55037d;
}

.redes i {
    display: inline-block;
    width: auto;
    margin-right: 20px;
    padding-left: 0;
    font-size: 3rem;
    color:#55037d;
}

.redes d {
    margin-left: 50px;
}

.curriculo-info {
    margin-top: 50px;
    text-align: center;
    align-items: right;
    font-size: 18px;
    justify-content: right;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 30px;
    font-size: 18px;
    margin: 30px auto;
    column-gap: 1px; 
    width: 60%;
}

.grid::after {
    content: "";
    position: absolute;
    top: 320px;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 430px;
    border-radius:5px;
	border: hidden;
    background-color: #000000;
    box-shadow: 0px 0px 5px #ab37f8;
}

.coluna1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto 50px;
    margin-top: 1px;
}

.coluna2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: auto 50px;
    margin-top: 1px;
}

.coluna3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto 50px;
    margin-top: 5px;
}

.coluna4 {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin: auto 50px;
    margin-top: 5px;
}

ul {
    margin: 0;
    padding: 0; 
    list-style: none; 
}

.calculadora {
    display: flexbox;
    margin-top: 50px;
    text-align: center;
    align-items: right;
    font-size: 18px;
    justify-content: center;
}

.calculadora img {
    width: 500px;
    margin-top: 20px;
}

.calculadora h1 {
    color: #55037d;
}

.calculadora p {
    font-size: 20px;
    width: 67%;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.calculadora a {
    font-size: 23px;
    color: #d18ffd;
    background-color: #55037d;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculadora a:hover {
    background-color: #ab37f8;
}

.contatos {
    display: flexbox;
    text-align: center;
}

.contatos i {
    font-size: 10rem;
    color: #55037d;
}

.contatos h1 {
    color: #55037d;
    margin-top: 50px;
    margin-bottom: 2px;
}

.contatos p {
    font-size: 20px;
    margin-left: 20px;
    width: auto;
    margin: 20px auto;
}

.contato i {
    display: inline-block;
    margin-left: 20px;
    padding-left: 0;
    font-size: 3rem;
    color:#55037d;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 730px) {
    body {
        background-image: linear-gradient(#d18ffd, #d18ffd, #ab37f8, rgb(170, 22, 255));
        height: 200vh;
    }

    .body 

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .principal {
        height: auto;
        margin: 100px auto;
    }
    .principal div{
        width: 80%;

    }

    .text-principal p{
        font-size: 1.2rem;
        margin: auto;
        margin-top: 30px;
        width: auto;
    }
    
    .text-principal b {
        font-weight: bold;
    }

    .img-principal {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;

    }

    .redes i {
        margin: 5px;
        margin-top: 30px;
    }

    .redes d {
        margin: auto;
    }

    .grid {
        display: block;
    }

    .calculadora img {
        width: 80%;
    }
    .mobile-menu-icon {
        display: block;
    }

    .grid::after {
        display: block;
        width: 0px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2.5rem;
        color: #d08ffe;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
    
}
