@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Protest+Riot&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    background-image: linear-gradient(#d088ff, #55037d);
    min-height: 100vh;
    height: 100vh;
    position: relative;
}

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://th.bing.com/th/id/R.979e69aa43b646c1102d1cff25470cfb?rik=Y%2frOQS4ZdfE1GQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f6%2f5%2f5%2f751756-vertical-hd-texture-backgrounds-2560x1440.jpg&ehk=EmpSac9I0upOJctvq6wAlV5zCWV1XMWRcIWgLHYchRA%3d&risl=&pid=ImgRaw&r=0') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.30;
    z-index: -1;
}

header {
    background-color: #4e0079;
    box-shadow: 0px 3px 10px #464646;
    height: auto;
}

h1 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    text-align: justify;
    hyphens: auto;
    word-spacing: 0.2em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    font-size: 1rem;
    color: #dfb2ff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.20rem;
    color: #dfb2ff;
    font-weight: 400;
}

.nav-link:hover {
    background-color: rgb(52, 115, 252);
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto 70%;
}

.principal div {
    margin: 0;
}

.text-principal {
    width: 45%;
    margin-left: 20px;
    padding: 0;
}

.text-principal, .img-principal {
    padding: 0;
}

.text-principal p {
    font-size: 15px;
    margin: auto;
    margin-left: 50px;
    width: 100%;
}

.text-principal b {
    color: #370061;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-principal img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px #4e0079;
    margin-top: 20px;
}

.redes i {
    display: inline-block;
    width: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 2rem;
    color:#1b0030;
}

.redes d {
    margin-left: 50px;
}

.curriculo-info {
    margin-top: 50px;
    text-align: center;
    align-items: right;
    font-size: 15px;
    justify-content: right;
}

.curriculo-info h1 {
    color: #370061;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 30px;
    font-size: 15px;
    margin: 30px auto;
    column-gap: 1px; 
    width: 70%;
}

.grid::after {
    content: "";
    background-size: cover;
    position: absolute;
    top: 330px;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 370px;
    border-radius:5px;
	border: hidden;
    background-color: #1b0030;
    box-shadow: 0px 0px 5px #ab37f8;
}
.grid h1 {
    color: #370061;
}

.coluna1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto 50px;
    margin-top: 30px;
}

.coluna2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: auto 50px;
    margin-top: 30px;
}

.coluna3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto 50px;
    margin-top: 30px;
}

.coluna4 {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin: auto 50px;
    margin-top: 30px;
}

ul {
    margin: 0;
    padding: 0; 
    list-style: none; 
}

.calculadora {
    display: flexbox;
    margin-top: 50px;
    text-align: center;
    align-items: right;
    font-size: 18px;
    justify-content: center;
}

.calculadora img {
    width: 300px;
    border-radius: 7px;
}

.calculadora h1 {
    color: #370061;
}

.calculadora p {
    font-size: 15px;
    width: 67%;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.calculadora a {
    font-size: 23px;
    color: #dfb2ff;
    background-color: #5a1c8a;;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculadora a:hover {
    background-color:#8600c9;
}

.contatos {
    display: flexbox;
    text-align: center;
}

.contatos i {
    font-size: 5rem;
    color: #370061;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contatos h1 {
    color: #370061;
    margin-top: 50px;
    margin-bottom: 5px;
}

.contatos p {
    font-size: 15px;
    margin-left: 20px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.contato i {
    display: inline-block;
    margin: 3px;
    font-size: 2.5rem;
    color:#1b0030;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 900px) {
    body {
        min-height: 190vh;
    }

    .nav-bar {
        padding: 2rem 2rem;
        align-items: center;
    }

    .nav-item {
        display: none;
    }

    .principal {
        height: auto;
        margin: 50px auto;
    }

    .principal div{
        width: 80%;

    }

    .text-principal p{
        margin: auto;
        margin-top: 30px;
        width: auto;
    }

    .img-principal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-principal img {
        width: 70%;
    }

    .redes i {
        margin: 3px;
        margin-top: 20px;
    }

    .redes d {
        margin: auto;
    }

    .grid {
        display: block;
        width: 100%;
    }

    .calculadora img {
        width: 80%;
    }
    .mobile-menu-icon {
        display: block;
    }

    .grid::after {
        display: block;
        width: 0px;
    }

    .contatos p {
        width: 80%;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2.5rem;
        color: #dfb2ff;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu {
        border-top: solid #2a004a 1px;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
    
}

@media (orientation: landscape) {
    body {
        height: 320vh;
    }
  }
